/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: black;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  color: #00a; }

a:hover {
  color: #000; }

a:visited {
  color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em; }

.posts li {
  line-height: 1.75em; }

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  font-size: 115%;
  text-align: justify;
  width: 80em;
  margin: 3em auto 2em;
  line-height: 1.5em; }

.header a {
  font-weight: bold;
  text-decoration: none; }

.title {
  display: inline-block;
  margin-bottom: 2em; }

.title a {
  color: #a00; }

.title a:hover {
  color: #000; }

.header a.extra {
  color: #aaa;
  margin-left: 1em; }

.header a.extra:hover {
  color: #000; }

.meta {
  color: #aaa; }

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden; }

.footer .contact {
  float: left;
  margin-right: 3em; }

.footer .contact a {
  color: #8085C1; }

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right; }

.footer .rss img {
  border: 0; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em; }

.post ul, .post ol {
  margin-left: 1.35em; }

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em; }

.post pre code {
  border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

.post pre.terminal code {
  background-color: #333; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
div#header-container {
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px 60px;
  background-color: white;
  z-index: 100;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.desktop-nav-bar {
  display: block; }

.mobile-nav-bar {
  display: none; }

div#header-logo-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center; }

img#project-include-logo {
  margin: 0px 10px 0px 0px;
  display: block;
  width: 75px;
  height: auto; }

h1#site-title {
  text-transform: capitalize;
  font-size: 2.2em;
  color: black;
  margin: 5px;
  margin-left: 10px;
  white-space: nowrap;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-color: #FF0706; }

div#social-nav-list-container {
  display: -ms-flexbox;
  display: flex;
  display: block;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: end;
      align-items: flex-end;
  margin-left: 50px; }

ul#social-media-list {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: end;
      justify-content: flex-end; }

li#social-media-list-item {
  text-transform: lowercase;
  text-align: center;
  font-size: 1em;
  padding-right: 20px;
  white-space: nowrap;
  font-weight: 300; }
  li#social-media-list-item a {
    text-decoration: none; }
    li#social-media-list-item a:visited, li#social-media-list-item a:hover {
      color: black; }
  li#social-media-list-item:last-child {
    padding-right: 0; }

ul#nav-list {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  margin-bottom: 10px; }

li#nav-list-item {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1em;
  padding-right: 20px;
  white-space: nowrap;
  font-family: "Roboto";
  font-weight: 500;
  color: black; }
  li#nav-list-item:last-child {
    padding-right: 0; }

#logo-nav-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center; }

div.mobile-nav-container {
  display: none; }

@media (max-width: 1000px) {
  div.desktop-nav-bar {
    display: none; }
  div.mobile-nav-bar {
    display: block;
    padding-right: 10px; }
  div.mobile-nav-container {
    display: block;
    margin-right: 15px; }
  div#header-container {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: end;
        align-items: flex-end;
    padding: 12px 25px 10px 15px;
    height: auto;
    right: -2%; }
    div#header-container a {
      -ms-flex-item-align: start;
          align-self: flex-start; }
  h1#site-title {
    font-size: 1.8em;
    margin-left: 0; }
  img#project-include-logo {
    width: 50px;
    height: auto; }
  div#social-nav-list-container {
    margin: 8px 0 0 0;
    -ms-flex-align: start;
        align-items: flex-start;
    display: none; }
  ul#social-media-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
    margin: 10px 0;
    border-top: solid 1px #EF5350; }
  li#social-media-list-item {
    margin-top: 5px;
    font-size: 1.2em; }
    li#social-media-list-item:first-child {
      margin-top: 13px; }
  ul#nav-list {
    margin-bottom: 10px;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start; }
  li#nav-list-item {
    font-size: 1.5em;
    padding: 10px 0; } }

#hamburger-menu-icon .line {
  width: 30px;
  height: 3px;
  background-color: #EF5350;
  display: block;
  margin: 8px auto;
  transition: all 0.2s ease-in-out; }

#hamburger-menu-icon:hover {
  cursor: pointer; }

#hamburger-menu-icon.is-active .line:nth-child(1),
#hamburger-menu-icon.is-active .line:nth-child(3) {
  width: 30px;
  width: 20px; }

#hamburger-menu-icon.is-active .line:nth-child(1) {
  -webkit-transform: translateX(10px) translateY(5px) rotate(45deg);
          transform: translateX(10px) translateY(5px) rotate(45deg);
  margin-top: 0; }

#hamburger-menu-icon.is-active .line:nth-child(3) {
  -webkit-transform: translateX(10px) translateY(-5px) rotate(-45deg);
          transform: translateX(10px) translateY(-5px) rotate(-45deg);
  margin-bottom: 0; }

@media (max-width: 321px) {
  div.mobile-nav-bar {
    padding-right: 8px; }
  div#header-container {
    padding: 12px 10px 9px 12px; } }

div#major-info-text-container {
  padding: 70px; }
  div#major-info-text-container h1#major-info-text-container--header {
    font-size: 2.5em;
    font-weight: 500; }
  div#major-info-text-container p#major-info-text-container--info {
    font-style: italic;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.4em; }

div#major-info-text-container {
  padding: 70px; }
  div#major-info-text-container h1#major-info-text-container--header {
    font-size: 2.5em;
    font-weight: 500; }
  div#major-info-text-container p#major-info-text-container--info {
    font-style: italic;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.4em; }

div.intro-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  padding: 0 25px; }

div.intro-container--info-container {
  width: 50%;
  padding: 50px 70px 50px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center; }
  div.intro-container--info-container h1.intro-container--info-container--header-text {
    font-size: 3.2em;
    font-weight: bold;
    line-height: 1.1em;
    margin-bottom: 0;
    text-align: left; }
  div.intro-container--info-container p.intro-container--info-container--info-text {
    font-style: italic;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.4em;
    margin: 40px auto;
    text-align: left; }
  div.intro-container--info-container div.btn-wrap {
    display: -ms-flexbox;
    display: flex; }
    div.intro-container--info-container div.btn-wrap a.intro-container--info-container--btn {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      min-height: 30px;
      min-width: 120px;
      padding: 8px 12px;
      border-radius: 4px;
      margin-right: 40px;
      font-weight: 500;
      font-size: 1.3em;
      text-decoration: none;
      color: white;
      border: 2px solid white;
      transition: all 0.25s;
      text-align: center; }
      div.intro-container--info-container div.btn-wrap a.intro-container--info-container--btn:hover {
        cursor: pointer;
        background-color: white;
        color: #EF5350;
        transition: all 0.25s; }

div.intro-container--gallery-container {
  width: 50%;
  padding: 10px 0 10px 10px; }
  div.intro-container--gallery-container .intro-container--gallery-container--gallery {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 6px; }

@media (max-width: 1000px) {
  div.intro-container {
    padding: 0;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
  div.intro-container--info-container {
    width: 100%;
    padding-right: 0; }
    div.intro-container--info-container p.intro-container--info-container--info-text {
      width: 75%;
      text-align: left;
      margin: 40px 0; }
  div.intro-container--gallery-container {
    width: 100%;
    padding: 0; }
    div.intro-container--gallery-container img.intro-container--gallery-container--gallery {
      width: 100%;
      object-fit: cover;
      max-height: 250px;
      object-position: top center; } }

@media (max-width: 426px) {
  div.intro-container--info-container div.btn-wrap {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
    div.intro-container--info-container div.btn-wrap a.intro-container--info-container--btn {
      margin: 0;
      margin-top: 25px;
      min-width: initial;
      width: 75%; }
      div.intro-container--info-container div.btn-wrap a.intro-container--info-container--btn:first-child {
        margin-top: 0; }
  div.intro-container--info-container {
    padding: 40px 0; }
    div.intro-container--info-container h1.intro-container--info-container--header-text {
      text-align: center; }
    div.intro-container--info-container p.intro-container--info-container--info-text {
      width: 100%;
      text-align: center;
      margin: 40px 0 50px 0; } }

* {
  font-family: "Roboto";
  color: white; }

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v20-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-v20-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin-300.woff2") format("woff2"), url("../fonts/roboto-v20-latin-300.woff") format("woff"), url("../fonts/roboto-v20-latin-300.ttf") format("truetype"), url("../fonts/roboto-v20-latin-300.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin-regular.woff") format("woff"), url("../fonts/roboto-v20-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/roboto-v20-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin-italic.woff2") format("woff2"), url("../fonts/roboto-v20-latin-italic.woff") format("woff"), url("../fonts/roboto-v20-latin-italic.ttf") format("truetype"), url("../fonts/roboto-v20-latin-italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto-v20-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin-900.woff") format("woff"), url("../fonts/roboto-v20-latin-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin-900.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin-500.woff") format("woff"), url("../fonts/roboto-v20-latin-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */ }

div.fixed-header-pushdown {
  margin-top: 130px; }

body {
  background: #EF5350;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative; }

div.site {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  width: 68em; }

@media (max-width: 1000px) {
  div.site {
    max-width: 90%; } }
