div#header-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
  border-radius: 8px;
  padding: 20px 60px;
  background-color: white;
  z-index: 100;
  width: fit-content;
}

.desktop-nav-bar {
  display: block;
}

.mobile-nav-bar {
  display: none;
}

div#header-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img#project-include-logo {
  margin: 0px 10px 0px 0px;
  display: block;
  width: 75px;
  height: auto;
}

h1#site-title {
  text-transform: capitalize;
  font-size: 2.2em;
  color: black;
  margin: 5px;
  margin-left: 10px;
  white-space: nowrap;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-color: $project-include-light-red;
}

div#social-nav-list-container {
  display: flex;
  display: block;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 50px;
}

ul#social-media-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

li#social-media-list-item {
  text-transform: lowercase;
  text-align: center;
  font-size: 1em;
  padding-right: 20px;
  white-space: nowrap;
  font-weight: 300;

  a {
      text-decoration: none;
      color: black;

      &:visited {
          color: black;
      }

      &:hover {
        color: $project-include-salmon-red;
        transition: all 0.15s linear;
      }
  }

  &:last-child {
      padding-right: 0;
  }
}

ul#nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  a {
    text-decoration: none;
    color: black;

    &:visited {
        color: black;
    }

    &:hover {
      color: $project-include-salmon-red;
      transition: all 0.15s linear;
    }
  }
}

li#nav-list-item {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1em;
  padding-right: 20px;
  white-space: nowrap;
  font-family: "Roboto";
  font-weight: 500;
  color: black;

  &:last-child {
      padding-right: 0;
  }
}

#logo-nav-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.mobile-nav-container {
  display: none;
}

@media (max-width:801px)  { 

}
@media (max-width:1000px) {

  div.desktop-nav-bar {
    display: none;
  }

  div.mobile-nav-bar {
    display: block;
    padding-right: 10px;
  }

  div.mobile-nav-container {
    display: block;
    margin-right: 15px;
  }

  div#header-container {
    flex-direction: column;
    align-items: flex-end;
    padding: 12px 25px 10px 15px;
    height: auto;
    right: -2%;
    
    a {
      align-self: flex-start;
    }
  }

  h1#site-title {
    font-size: 1.8em;
    margin-left: 0
  }

  img#project-include-logo {
    width: 50px;
    height: auto;
  }
  
  div#social-nav-list-container {
    margin: 8px 0 0 0;
    align-items: flex-start;
    display: none;
  }

ul#social-media-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  border-top: solid 1px $project-include-salmon-red;
}

li#social-media-list-item {
  margin-top: 5px;
  font-size: 1.2em;

  &:first-child {
    margin-top: 13px;
  }
}
    
  ul#nav-list {
    margin-bottom: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
  
  li#nav-list-item {
    font-size: 1.5em;
    padding: 10px 0;
  }
}

#hamburger-menu-icon {
  .line {
    width: 30px;
    height: 3px;
    background-color: $project-include-salmon-red;
    display: block;
    margin: 8px auto;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    cursor: pointer;
  }

  &.is-active .line:nth-child(1),
  &.is-active .line:nth-child(3) {
    width: 30px;
    width: 20px;
  }

  &.is-active .line:nth-child(1){
    transform: translateX(10px) translateY(5px) rotate(45deg);
    margin-top: 0;
  }

  &.is-active .line:nth-child(3){
    transform: translateX(10px) translateY(-5px) rotate(-45deg);
    margin-bottom: 0;
  }
}

@media (max-width:321px)  { 

  div.mobile-nav-bar {
    padding-right: 8px;
  }

  div#header-container {
    padding: 12px 10px 9px 12px;
    // right: 0%;
  }

}