div#major-info-text-container {
  padding: 70px;

  h1#major-info-text-container--header {
      font-size: 2.5em;
      font-weight: 500;
  }

  p#major-info-text-container--info {
      font-style: italic;
      font-weight: normal;
      font-size: 1.2em;
      line-height: 1.4em;
  }
}

div#major-info-text-container {
  padding: 70px;

  h1#major-info-text-container--header {
      font-size: 2.5em;
      font-weight: 500;
  }

  p#major-info-text-container--info {
      font-style: italic;
      font-weight: normal;
      font-size: 1.2em;
      line-height: 1.4em;
  }
}