---
layout: default
title: Project Include | Bootcamps
permalink: /bootcamps/
---

<div class="fixed-header-pushdown">

  {% assign volunteer-form-link = site.data.basic["volunteer-form-link"] %}
  {% include gallery-intro-component.html
    
    default-img-path="../assets/gallery/homepage/1.png"

    header-text="Bootcamps."

    info-text="Project Include Bootcamps are available during July and August. These programs run for an extended period with several sessions over the course of a week. Students will learn the fundamentals of computer programming suitable for their age, and can work together with their peers to create their own projects."

    btn1-text="Volunteer"
    btn1-link=volunteer-form-link %}

</div>


<div class="container align-column">
  <h1 class="container-title">Schedule 2019/2020.</h1>
  <div class="schedule-container">
    {% assign sorted-bootcamps = site.data.bootcamp-schedule | group_by: "bootcamp-date" | sort: "name" | reverse %}
    {% for bootcamp in sorted-bootcamps %}
      <div class="card">
        <h2 class="location-name color-project-include-salmon-red">{{ bootcamp["items"][0]["location-name"] }}</h2>
        <h2 class="event-date">{{ bootcamp["items"][0]["bootcamp-date"] | date: "%A %B %-d, %Y" }}</h2>
        <h2 class="event-time">{{ bootcamp["items"][0]["bootcamp-time"] }}</h2>
        <div class="align-row location-container flex-center">
          <img class="map-link-img" src="{{site.baseurl}}/assets/google-maps-location-placeholder.png" alt="">
          <a href="{{ bootcapm["items"][0]["bootcamp.location-google-maps-link"] }}" class="btn-red">Location</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>