---
layout: default
title: Project Include | Home
---

<div class="fixed-header-pushdown">
  
  {% assign volunteer-form-link = site.data.basic["volunteer-form-link"] %}
  {% include gallery-intro-component.html
    
    default-img-path="./assets/gallery/homepage/1.png"

    header-text="We are Project Include."

    info-text="We make coding fun and accessible for everyone, regardless of socio-economic class, race, or age."

    btn1-text="Our Programs"
    btn1-link="./services"

    btn2-text="Volunteer"
    btn2-link=volunteer-form-link %}

</div>

{% include major-info-text-component.html
   
  header-text="Welcome to the future."

  text="The technology sector is booming, and its expansion brings with it many new career paths. Unfortunately, children in underprivileged neighbourhoods often lack the basic STEM education to gain entry into these fields. We believe that every child deserves a shot at these job opportunities. Our student-run workshops and bootcamps run through local libraries and schools, bringing accessible coding education to more kids across the Greater Toronto Area." %}

{% include quote-card-component.html %}