---
layout: default
title: Project Include | Services
permalink: /services/
---

<div class="fixed-header-pushdown">

  {% assign volunteer-form-link = site.data.basic["volunteer-form-link"] %}
  {% include gallery-intro-component.html
    
    default-img-path="../assets/gallery/homepage/1.png"

    header-text="What We Do."

    info-text="We partner with schools and libraries in the GTA to deliver coding workshops and bootcamps."

    btn1-text="Volunteer"
    btn1-link=volunteer-form-link %}

</div>

{% include major-info-text-component.html
   
  header-text="Project based curriculum."

  text="Ea sit voluptate in mollit aliqua proident reprehenderit qui do cillum qui. Anim ullamco aliqua fugiat veniam dolore. Exercitation do excepteur in sunt adipisicing ea aute eu laboris. Nulla sint cillum fugiat veniam id ex culpa exercitation. Et laboris ex dolor cillum do amet." %}

<div class="container align-column">
  <h1 class="container-title">Workshops and bootcamps.</h1>
  <div class="services-container align-row flex-space-between">
    <div class="single-column-container card">
      <h3 class="single-column-title color-project-include-salmon-red">Workshops</h3>
      <p class="single-column-text">"Project Include Workshops are single-session, standalone lessons, perfect for introducing students who are unfamiliar with computer programming to the wonders of coding. Our instructors create curriculum suitable for both elementary and secondary school levels."</p>
      <a href="/workshops" class="btn-red">Workshops</a>
    </div>

    <div class="single-column-container card">
      <h3 class="single-column-title color-project-include-salmon-red">Bootcamps</h3>
      <p class="single-column-text">"Project Include Bootcamps are available during July and August. These programs run for an extended period with several sessions over the course of a week. Students will learn the fundamentals of computer programming suitable for their age, and can work together with their peers to create their own projects."</p>
      <a href="/bootcamps" class="btn-red">Bootcamps</a>
    </div>
  </div>
</div>