---
layout: default
title: Project Include | Services
---

<div class="fixed-header-pushdown">

  {% include gallery-intro-component.html
    
    default-img-path="../assets/gallery/homepage/1.png"

    header-text="What We Do."

    info-text="We partner with schools and libraries in the GTA to deliver coding workshops and bootcamps."

    btn1-text="Volunteer"
    btn1-link="https://goo.gl/forms/lFxMOM0XlL5six5C2" %}

</div>

{% include major-info-text-component.html
   
  header-text="Project based curriculum."

  text="Ea sit voluptate in mollit aliqua proident reprehenderit qui do cillum qui. Anim ullamco aliqua fugiat veniam dolore. Exercitation do excepteur in sunt adipisicing ea aute eu laboris. Nulla sint cillum fugiat veniam id ex culpa exercitation. Et laboris ex dolor cillum do amet." %}

<div class="container align-column">
  <h1 class="container-title">Workshops and bootcamps.</h1>
  <div class="services-container align-row flex-space-between">
    <div class="single-column-container card">
      <h3 class="single-column-title color-project-include-salmon-red">Workshops</h3>
      <p class="single-column-text">"Proident ut pariatur officia reprehenderit sint. Quis ex aliquip aliquip pariatur sit minim nulla dolore. Ad ex cillum cillum elit adipisicing magna pariatur nisi exercitation. Labore excepteur duis sit proident nisi ex commodo sint sit ad qui aute. Qui pariatur id non reprehenderit fugiat in non tempor. Nulla incididunt aute cupidatat enim eu adipisicing velit ullamco aliquip id non aliqua est irure."</p>
      <a href="./workshops.html" class="btn-red">Workshops</a>
    </div>

    <div class="single-column-container card">
      <h3 class="single-column-title color-project-include-salmon-red">Bootcamps</h3>
      <p class="single-column-text">"Proident ut pariatur officia reprehenderit sint. Quis ex aliquip aliquip pariatur sit minim nulla dolore. Ad ex cillum cillum elit adipisicing magna pariatur nisi exercitation. Labore excepteur duis sit proident nisi ex commodo sint sit ad qui aute. Qui pariatur id non reprehenderit fugiat in non tempor. Nulla incididunt aute cupidatat enim eu adipisicing velit ullamco aliquip id non aliqua est irure."</p>
      <a href="./bootcamps.html" class="btn-red">Bootcamps</a>
    </div>
  </div>
</div>