<div id="footer-container">
  <ul id="social-media-list">
      <li class="social-media-list-item">
        <a target="_blank" rel="noopener noreferrer" href="{{site.data.social['facebook'].link}}">
          <img class="social-media-link-icon" src="{{site.baseurl}}/assets/social-media-logos/facebook-soc-icon.png" alt=""/>
        </a>
      </li>
      <li class="social-media-list-item">
        <a target="_blank" rel="noopener noreferrer" href="{{site.data.social['twitter'].link}}">
          <img class="social-media-link-icon" src="{{site.baseurl}}/assets/social-media-logos/twitter-soc-icon.png" alt=""/>
        </a>
      </li>
      <li class="social-media-list-item">
        <a target="_blank" rel="noopener noreferrer" href="{{site.data.social['instagram'].link}}">
          <img class="social-media-link-icon" src="{{site.baseurl}}/assets/social-media-logos/instagram-soc-icon.png" alt=""/>
        </a>
      </li>
      <li class="social-media-list-item">
        <a target="_blank" rel="noopener noreferrer" href="mailto:{{site.data.social['email'].link}}">
          <img class="social-media-link-icon" src="{{site.baseurl}}/assets/social-media-logos/email-soc-icon.png" alt=""/>
        </a>
      </li>
  </ul>
</div>