<div id="header-container">

  <div class="align-row">
    <div id="hamburger-menu-icon">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
    
    <a href="/">
      <div id="header-logo-container">
        <img src="{{site.baseurl}}/assets/pi-logo-without-name.png" alt="" id="project-include-logo">
        <h1 id="site-title">{{ site.data.basic.site-name }}</h1>
      </div>
    </a>
  </div>

  <div class="mobile-nav-bar"> {% include navigation.html %} </div>  
  <div class="desktop-nav-bar"> {% include navigation.html %} </div>
</div>