<div id="social-nav-list-container">
  <ul id="nav-list">
    <li id="nav-list-item">
      <a href="{{site.baseurl}}/services.html">What we do</a>
    </li>
    <li id="nav-list-item">
      <a href="">Who we are</a>
    </li>
    <li id="nav-list-item">
      <a href="">Where we go</a>
    </li>
    <li id="nav-list-item">
      <a href="">Our network</a>
    </li>
  </ul> 

  <ul id="social-media-list">
    <li id="social-media-list-item">
      <a target="_blank" rel="noopener noreferrer" href="{{ site.data.social.facebook.link }}">Facebook</a>
    </li>
    <li id="social-media-list-item">
      <a target="_blank" rel="noopener noreferrer" href="{{ site.data.social.instagram.link }}">Instagram</a>
    </li>
    <li id="social-media-list-item">
      <a target="_blank" rel="noopener noreferrer" href="{{ site.data.social.twitter.link }}">Twitter</a>
      </li>
    <li id="social-media-list-item">
      <a target="_blank" rel="noopener noreferrer" href=" mailto:include.skule@gmail.com">Email</a>
    </li>
  </ul> 
</div> 