<div id="social-nav-list-container">
  <ul id="nav-list">
    <li id="nav-list-item">What we do</li>
    <li id="nav-list-item">Who we are</li>
    <li id="nav-list-item">Where we go</li>
    <li id="nav-list-item">Our network</li>
  </ul> 

  <ul id="social-media-list">
    <li id="social-media-list-item">
      <a target="_blank" rel="noopener noreferrer" href="{{ site.data.social.facebook.link }}">Facebook</a>
    </li>
    <li id="social-media-list-item">
      <a target="_blank" rel="noopener noreferrer" href="{{ site.data.social.instagram.link }}">Instagram</a>
    </li>
    <li id="social-media-list-item">
      <a target="_blank" rel="noopener noreferrer" href="{{ site.data.social.twitter.link }}">Twitter</a>
      </li>
    <li id="social-media-list-item">
      <a target="_blank" rel="noopener noreferrer" href=" mailto:include.skule@gmail.com">Email</a>
    </li>
  </ul> 
</div> 