<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <script type="text/javascript" src="../jquery-3.4.1.min.js" defer></script>
        <script type="text/javascript" src="../header-component.js" defer></script>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <!-- <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div> -->
 
          {% include header.html %}

          <div class="fixed-header-pushdown">
            {% include major-info-text-component.html
               
              header-text="Welcome to the future."

              text="The technology sector is booming, and its expansion brings with it many new career paths. Unfortunately, children in underprivileged neighbourhoods often lack the basic STEM education to gain entry into these fields. We believe that every child deserves a shot at these job opportunities. Our student-run workshops and bootcamps run through local libraries and schools, bringing accessible coding education to more kids across the Greater Toronto Area." %}
          </div>

          {{ content }}


          <!-- <div class="footer">
            <div class="contact">
              <p>
                Your Name is<br />
                What You Are<br />
                you@example.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/yourusername">github.com/yourusername</a><br />
                <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
              </p>
            </div> -->
          </div>
        </div>

    </body>
</html>
